body {
font-family: arial;
margin: 50px;
}

h1 {
    color:#111;
    text-align:center;
}

.item {
    background-color:#111;
    border-radius: 4px;
    color: #fff;
    padding: 30px;
    margin: 50px;

}

span {
    color: #febe01;
}

p{
    color: #b2b2b2;
}

a {
    background: #febe01;
    text-decoration: none;
    color: #332200;
    border-radius: 4px;
    padding: 10px;
}